name: Flutter Workflow

on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3 
        
      - name: Create the Keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          # import keystore from secrets
            echo $ENCODED_STRING | base64 -di > /home/runner/work/tmdb/tmdb/android/key.keystore
 
 
        
      - name: Install Java
        uses: actions/setup-java@v2
        with: 
          distribution: 'zulu'
          java-version: '11' 

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      
    
          
      - name: Restore packages
        run: flutter pub get
        
    
 

      - name: Build Android apk
        run: flutter build apk --release
        
      - run: ls

      - name: Sign Android App 
        run: jarsigner -keystore /home/runner/work/tmdb/tmdb/android/key.keystore  -storepass ${{ secrets.KEY_PASSWORD }} -keypass ${{ secrets.KEY_PASSWORD }} build/app/outputs/flutter-apk/app-release.apk tmdb
      
      - run: ls
          
      - name: Publish Android Artefacts
        uses: actions/upload-artifact@v1
        with:
          name: release-signed-apk
          path: build/app/outputs/flutter-apk/app-release-signed.apk
  
      
       
