name: Dart

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
      env:
        KEY_JKS: ${{ secrets.KEY_JKS }}
        KEY_PASSWORD: ${{ secrets.ALIAS_PASSWORD }}
        ALIAS_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: echo $KEY_JKS > key.jks && flutter pub get && flutter test && flutter build apk --release
    - uses: actions/upload-artifact@v2.1.4
      with:
        name: release-apk
        path: "**"
    - name: Install Dependencies
      run: flutter packages get
    - name: Analyze
      run: flutter analyze lib test
    - name: Run tests
      run: flutter test --no-pub --coverage --test-randomize-ordering-seed random
    
