name: Flutter Workflow

on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3 
        
      - name: Create the Keystore
        env:
           ENCODED_STRING: ${{ secrets.KEY_JKS }}
        run: | 
            echo $ENCODED_STRING | base64 -di > /home/runner/work/tmdb/tmdb/android/key.jks
 
 
      - name: export pass
        env:
         SUPER_SECRET: ${{ secrets.KEY_PASSWORD }}
        run: |
          export "$env:SUPER_SECRET" 
 
 
        
      - name: Install Java
        uses: actions/setup-java@v2
        with: 
          distribution: 'zulu'
          java-version: '11' 

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      
    
          
      - name: Restore packages
        run: flutter pub get
        
    
        
      - run: export KEY_PASSWORD=123456789
      - run: export ALIAS_PASSWORD=123456789

      - name: Build Android apk
        run: flutter build apk --release

  
      
          
      - name: Publish Android Artefacts
        uses: actions/upload-artifact@v1
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
  
      
       
